﻿@model IEnumerable<WebRole1.Models.Published>

@{
    ViewBag.Title = "Blackboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blackboard</h2>

<div class="container">
    <div class="row" id="boardPlace">
        @foreach (var item in Model.Reverse())
        {
        <div class="col-sm-4 panel-pad-10">
            <a href="@Url.Action("Answering", "Question")?id=@item.IdP&chan=@item.IdC" style="text-decoration:none; color:black;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Channel: @item.Channel.Name
                    </div>
                    <div class="panel-body text-center" style="height:180px; overflow:hidden;">
                        <span class="text-danger h4" style="text-transform:uppercase"><b>@item.Question.Title</b></span>
                        <br/>
                        <br />
                        <div style="text-align:left; margin-left:10px;"><span class="h5">@item.Question.Text</span></div>
                        <br/>
                        @foreach (var it in item.Question.Answers)
                        {
                            <div style="text-align:left; margin-left:10px;"><span class="h6">@it.Tag) @it.Text</span></div>
                        }
                    </div>
                    <div class="panel-footer">Published (UTC): @Html.ValueFor(modelItem => item.PubTime, "{0:dd/MMM/yyyy HH:mm}")</div>
                </div>
            </a>
        </div>
        }
        
    </div>
</div>


@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.boardHub;
            // Create a function that the hub can call back to display messages.
            chat.client.boardfresh = function (idQuest, idChann, channame, title, text, answers, time) {
                var element = document.getElementById("boardPlace");
                var newStuff = '<div class="col-sm-4 panel-pad-10"><a href="@Url.Action("Answering", "Question")?id=' + idQuest + '&chan='+idChann+'" style="text-decoration:none; color:black;">';
                newStuff += '<div class="panel panel-default"><div class="panel-heading">Channel: ' + channame + '</div><div class="panel-body text-center" style="height:180px; overflow:hidden;">';
                newStuff += '<span class="text-danger h4" style="text-transform:uppercase"><b>' + title + '</b></span><br/><br /><div style="text-align:left; margin-left:10px;"><span class="h5">' + text + '</span></div><br/>';
                var ans = answers.split("<NewAns>");
                for (var i = 0, len = ans.length; i < len; i++) {
                    newStuff += '<div style="text-align:left; margin-left:10px;"><span class="h6">' + ans[i] + '</span></div>';
                }
                newStuff += '</div> <div class="panel-footer">Published (UTC): ' + time + '</div></div></a></div>';
                element.innerHTML = newStuff + element.innerHTML;
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                @foreach (var item in ViewBag.chann) {
                    WriteLiteral("chat.server.joingroup('");
                    @item
                    WriteLiteral("');");
                }
            });
    });
        // This optional function html-encodes messages for display in the page.
        //function htmlEncode(value) {
          //  var encodedValue = $('<div />').text(value).html();
            //return encodedValue;
        //}
    </script>
}