﻿@model IEnumerable<WebRole1.Models.Channel>

@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose channels:</h2>
@using (Html.BeginForm("Index", "Publish", FormMethod.Post, new { id = "FormQ", role = "form" }))
{
    <input type="number" style="display:none" name="idQ" value="@ViewBag.idQ"/>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6" style="height:400px; overflow: auto">
                <table class="table">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Publish
                        </th>
                    </tr>

                    @{var i = 0;}

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <input type="checkbox" id="checkbox1" value="@item.IdC" name="box @i"/>
                            </td>
                        </tr>
                        i++;
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" id="beck"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp Back</button>
        <button type="submit" class="btn btn-primary" id="butt1"><span class="glyphicon glyphicon-share-alt"></span>&nbsp Publish</button>
    </div>
 }

    @if (ViewBag.msg != null)
    {
        <label>@ViewBag.msg</label>
    }

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#beck').on('click', function clckF() {
            window.location = "@Url.Action("Index", "Question")";
        });
    });
</script>