﻿@model IEnumerable<WebRole1.Models.User>

@{
    ViewBag.Title = "Approvals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Approvals</h2>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    function linkClick(name) {
        var selname = "sel " + name;
        var nameemail = "email " + name;
        var elemmail = document.getElementById(nameemail);
        nameemail = elemmail.innerText;
        var elem = document.getElementById(selname);
        var strUser = elem.options[elem.selectedIndex].value;
        if ((strUser !== "Professor") && (strUser !== "Student"))
            return;
        $.ajax({
            type: "POST",
            data: { email: nameemail, type: strUser },
            url: '@Url.Action("Approvals", "Admin")',
                success: function (result) {
                    if (result === "Success") {
                        var name1 = "type " + name;
                        var elem1 = document.getElementById(name1);
                        elem1.innerHTML = strUser;
                        name1 = "status " + name;
                        elem1 = document.getElementById(name1);
                        elem1.innerHTML = "Active";
                    }
                }
            });
        }
    $(document).ready(function () {

        $('#checkbox1').change(function () {
            if ($(this).is(":checked")) {
                window.location = "@Url.Action("Approvals", "Admin", new { Search = 1 })";
                return;
            }
            window.location = "@Url.Action("Approvals", "Admin", new { Search = 0 })";
        });
    });
</script>
@{
    if (ViewBag.chBox == "1")
    {
        <div class="checkbox">
            <label><input type="checkbox" id="checkbox1" value="" checked>Not aproved registrations</label>
        </div>
    }
    else
    {
        <div class="checkbox">
            <label><input type="checkbox" id="checkbox1" value="">Not aproved registrations</label>
        </div>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    @{ var counter = 0;}
    @foreach (var item in Model)
    {
        counter++;
        <tr>
            <td id="email @counter">
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balans)
            </td>
            <td id="type @counter">
                @if (item.Type == "Undefined")
                {
                    <div class="form-group">
                        <select class="form-control" id="sel @counter">
                            <option>Undefined</option>
                            <option>Student</option>
                            <option>Professor</option>
                        </select>
                    </div>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Type)
                }
            </td>
            @if (item.Status == 1) {
                <td>
                    Active
                </td>
            }
            else
            {
                <td id="status @counter">
                    <span style="cursor:pointer"><a id="link" onclick="linkClick(@counter)">Activate</a></span><br>
                </td>
            }
        </tr>
     }
</table>


