﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Channel create</h2>
<form id="FormQ">
    <div class="form-group">
        @Html.Label("Channel name:")
        @Html.TextBox("ttitle", null, new { @class = "form-control", @name = "title", @maxlength = "20", required = "required" })
    </div>

    <div class="form-group">
        @Html.Label("Password:")
        @Html.TextBox("password", null, new { @class = "form-control", @type = "password", @name = "password", required = "required" })
    </div>

    <div class="form-group">
        @Html.Label("Confirm password:")
        @Html.TextBox("cpassword", null, new { @class = "form-control", @type = "password", @name = "cpassword", required = "required" })
    </div>

    <div class="form-group"></div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" id="beck"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp Back</button>
        <button type="button" class="btn btn-primary" id="butt1"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp Save</button>
    </div>
    <div class="form-group">
        @Html.Label(" ", new { id = "result" })
    </div>
</form>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FormQ").validate({
            rules: {
                ttitle: "required",
                password: {
                    required: true,
                    minlength: 6
                },
                cpassword: {
                    required: true,
                    minlength: 6,
                    equalTo: '#password'
                }
            },
            messages: {
                ttitle: "Please specify channel name",
                password: {
                    required: "Please provide a password",
                    minlength: "Channel password must be at least 6 characters long"
                },
                cpassword: {
                    required: "Please provide a password",
                    minlength: "Channel password must be at least 6 characters long",
                    equalTo: "Password does not match!"
                }
            }
        });
        $('#butt1').on('click', function clckF1() {
            if (!$("#FormQ").valid())
                return;
            var Name = $('#ttitle').val();
            var Password = $('#password').val();
            var Cpassword = $('#cpassword').val();
            $.ajax({
                type: "POST",
                data: { name: Name, password: Password, cpassword: Cpassword },
                url: '@Url.Action("Create","Channel")',
                success: function (result) {
                    $('#result').html(result);
                    if (new String("Success").valueOf() == new String(result).valueOf()) {
                        window.location = "@Url.Action("Index", "Channel")";
                    }
                }
            });
        });
        $('#beck').on('click', function clckF() {
            window.location = "@Url.Action("Index", "Channel")";
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}