﻿@model WebRole1.Models.Channel
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subscribe</h2>
@using (Html.BeginForm("EnterPass", "Channel", FormMethod.Post, new { id = "FormQ", role = "form", @class = "container" }))
{
    if (ViewBag.succ != 1)
    {
        <div class="form-group"></div>
        <span style="display:none" name="chann">@Model.IdC</span>
        <div class="form-group"></div>
        <div class="form-group"></div>
        <div class="row">
            <div class="form-group">
                @Html.Label("Enter channel password:")
                <div class="form-group"></div>
                <input type="password" name="password" required="required" class="form-control" />
            </div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="beck"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp Back</button>
                <button type="submit" class="btn btn-primary" id="butt1"><span class="glyphicon glyphicon-ok"></span>&nbsp Enter</button>
            </div>
            <div class="form-group">
                <label>@ViewBag.error</label>
            </div>
        </div>
    }
    else
    {
        <div class="container">  
            <div class="row">
                <div class="col-md-4 col-md-offset-5">
                    <label class="h1" style="font-size:50px;">Success</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-5" style="padding-top:30px;">
                    <a type="link" href=@Url.Action("ActiveChannels", "Channel") id="beck">Continue</a>
                </div>
            </div>
         </div>
    }
 }
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#beck').on('click', function clckF() {
            window.location = '@Url.Action("ActiveChannels", "Channel")';
        });
    }); 
</script>

