﻿@model IEnumerable<WebRole1.Models.Channel>

@{
    ViewBag.Title = "Channels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Channels</h2>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    function linkClick(number) {
        var elemName = "action " + number;
        var element = document.getElementById(elemName);
        var operation = element.innerText;
        $.ajax({
            type: "POST",
            data: { id: number, action: operation },
            url: '@Url.Action("Index", "Channel")',
                success: function (result) {
                    if (result !== "error2") {
                        if (operation === "Open") {
                            var oTimeN = "openTime " + number;
                            var elem1 = document.getElementById(oTimeN);
                            elem1.innerHTML = result;

                            
                            oTimeN = "span " + number;
                            elem1 = document.getElementById(oTimeN);
                            elem1.innerHTML = '<a href="@Url.Action("History", "Channel")/' + number +'">History</a> | <a onclick="linkClick('+number+')" id="action '+number+'">Close</a> | <a href="@Url.Action("TimeSet", "Channel")/' + number +'">Set closing time</a>';
                        }
                        else {
                            if (operation === "Close") {
                                var oTimeN = "closeTime " + number;
                                var elem1 = document.getElementById(oTimeN);
                                elem1.innerHTML = result;
                                oTimeN = "span " + number;
                                elem1 = document.getElementById(oTimeN);
                                elem1.innerHTML = '<a href="@Url.Action("History", "Channel")/' + number +'">History</a>';
                            }
                        }
                    }
                    else {
                        window.location="@Url.Action("Logout", "Account")";
                    }
                }
        });
    }
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Open time (UTC)
        </th>
        <th>
            Close time (UTC)
        </th>
        <th>
            Subs
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td id="openTime @item.IdC">
            @Html.ValueFor(modelItem => item.OpenTime, "{0:dd/MMM/yyyy HH:mm}")
        </td>
        <td id="closeTime @item.IdC">
            @Html.ValueFor(modelItem => item.CloseTime, "{0:dd/MMM/yyyy HH:mm}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscriptions.Count)
        </td>
        <td>
            @if (item.OpenTime == null)
            {
                <span style="cursor:pointer" id="span @item.IdC"><a onclick="linkClick(@item.IdC)" id="action @item.IdC">Open</a></span>
            }
            else
                if (item.CloseTime == null)
                {
                    <span id="span @item.IdC">
                        @Html.ActionLink("History", "History", new { id = item.IdC })
                        @{ WriteLiteral(" | "); }
                        <span style="cursor:pointer"><a onclick="linkClick(@item.IdC)" id="action @item.IdC">Close</a></span> 
                        @{ WriteLiteral(" | "); }                       
                        @Html.ActionLink("Set closing time", "TimeSet", new { id = item.IdC })
                    </span>
                }
                else
                {
                    @Html.ActionLink("History", "History", new { id = item.IdC })
                }
        </td>
    </tr>
}
</table>
