﻿@model WebRole1.Models.Channel
@{
    ViewBag.Title = "Time set";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Channel @Model.Name</h2>
@using (Html.BeginForm("TimeSet", "Channel", FormMethod.Post, new { id = "FormQ", role = "form" }))
{
    <div class="form-group">
        @Html.Label("Set channel closing time (UTC):")
        <div class="form-group"></div>
        <label for="closeTime">Enter Date</label>
       <input type="date" name="closeTime" required class = "form-control"/>
        <div class="form-group"></div>
        <label for="closeTime1">Enter Time</label>
       <input type="time" name="closeTime1" required class = "form-control"/>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="beck"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp Back</button>
        <button type="submit" class="btn btn-primary" id="butt1"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp Save</button>
    </div>
    <div class="form-group">
        <label>@ViewBag.error</label>
    </div>

}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    //pattern='(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))'
    $(document).ready(function () {
        $("#FormQ").validate({
            rules: {
                closeTime: "required",
                closeTime1: "required"
            },
            messages: {
                closeTime: "Please specify closing time",
                closeTime1: "Please specify closing time"
            }
        });
        $('#butt1').on('click', function clckF1() {
            if (!$("#FormQ").valid())
                return;

            $('FormQ').submit();

            var Name = $('#closeTime').val();


            
        });
        $('#beck').on('click', function clckF() {
            window.location = "@Url.Action("Index", "Channel")";
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}