﻿@model WebRole1.Models.Published
@{
    ViewBag.Title = "Answering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    #img-upload {
        width: 250px;
        margin-bottom: 10px;
    }
    
    h2 {
        font-size:45px;
    }
    h4 {
        font-size:28px;
    }
    .labele {
        font-weight:lighter;
        margin-left:10px;
    }
    
    .imgz {
        border:1px solid black;
        margin-left:25px;
    }

</style>


<form class="container">

    @Html.AntiForgeryToken()


    @Html.ValidationSummary("", new { @class = "text-danger center" })

    <span style="display:none" id="nameP">@Model.IdPub</span>
    <span style="display:none" id="nameC">@Model.Channel.IdC</span>
    <div class="row text-center">
        <div class="form-group col-sm-6 col-sm-offset-3">
           <br />
            <h2>@Model.Question.Title</h2>
        </div>
        </div>
    <div class="row">
        <div class="form-group col-sm-6 col-sm-offset-3">
            <h4>@Model.Question.Text</h4>
        </div>
    </div>

    <div class="row">
        @if (@Model.Question.Image != null)
            {
            <div class="col-sm-4 col-sm-offset-4">
                <img src="data:image;base64,@System.Convert.ToBase64String(@Model.Question.Image)" id="img-upload" class="img-responsive imgz"/>
                <br />
            </div>
        }
    </div>

    <div class="row">
        
        @foreach (var item in Model.Question.Answers)
            {
            <div class="row">
                <div class="input-group col-sm-4 col-sm-offset-4">
                   
                   <span style="display:inline-block">@item.Tag)</span>
                    <p style="display:inline"><label style="display:inline" id="msg @item.IdA" type="text" name="answer @item.Number"> @item.Text</label></p>
                        
                    
                  
                        &nbsp
                </div>
                <div>
                    <input class="onlyme"  type="checkbox" name="only" value="@item.IdA"/>
                </div>
            </div>
            <br />
        }

      </div>
            <div class="form-group"></div>

           
                <div class="form-group col-sm-12 text-center">
                    <button type="button" class="btn btn-primary" id="beckC"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp Back</button>
                    <span id="subButSpan">
                        @if (ViewBag.premium == 1)
                        {
                            <button type="button" class="btn btn-primary" id="premium" name="Deactivate premium">Deactivate premium</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" id="premium" name="Activate premium">Activate premium</button>
                        }

                        <button type="button" class="btn btn-primary" id="sendAnswer"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp Submit</button>
                    </span>
                </div>
           <div class="form-group col-sm-12 text-center">
               <label id="result"></label>
           </div> 
</form>


<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.onlyme').on('change', function () {
            $('.onlyme').not(this).prop('checked', false);
        });


        $('#beckC').on('click', function clckF2() {
            window.location = "@Url.Action("Blackboard", "Publish")";
        });


        var myFunc=function clickU() {

            $("#sendAnswer").off("click");

            var elements = document.getElementsByName("only");
            var id = -1;
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].checked) {
                    id = elements[i].value;
                    break;
                }
            }
            if (id === -1) {
                $('#sendAnswer').on('click', myFunc);
                document.getElementById("result").innerText = "Answer must be selected";
                return;
            }

            $("#premium").off("click");

            var idP = document.getElementById("nameP").innerText;

            $.ajax({
                type: "POST",
                data: { published: idP, answer: id },
                url: '@Url.Action("Answering", "Question")',
                success: function (result) {
                    if (result !== "error") {
                        if (result === "error2") {
                            window.location = '@Url.Action("Logout", "Account")';
                        }

                        var array = result.split("<>");

                        document.getElementById("subButSpan").innerHTML = "";
                        document.getElementById("beckC").innerHTML = "Continue";
                        document.getElementById("result").innerText = "Answer saved";

                        $(".onlyme").click(function () {
                            return false;
                        });


                        if (array[0] === "-1") {
                            return;
                        }

                        var nmMsg = "msg " + array[0];
                        elements = document.getElementById(nmMsg);
                        elements.className += " text-success";

                        var elem1 = document.getElementById("numtoken");
                        elem1.innerHTML = array[1];

                    }
                }
            });
        }

        $('#sendAnswer').on('click', myFunc);

        $('#premium').on('click', function clickPre() {
            var element = document.getElementById("premium");
            var func = element.name;
            var element2 = document.getElementById("nameC");
            var number = element2.innerText;
            $.ajax({
                type: "POST",
                data: { id: number, func: func },
                url: '@Url.Action("Subscribed", "Channel")',
                success: function (result) {
                    if (result !== "error") {
                        if (result === "error2")
                            window.location = "@Url.Action("Logout", "Account")";
                        if (func === "Activate premium") {
                            element.innerHTML = 'Deactivate premium';
                            element.name = 'Deactivate premium';
                        }
                        else {
                            if (func === "Deactivate premium") {
                                element.innerHTML = 'Activate premium';
                                element.name = 'Activate premium';
                            }
                        }
                    }
                }
            });
        });


    });
</script>
