﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    #img-upload {
        width: 200px;
    }
</style>

<h2>Question create</h2>

@using (Html.BeginForm("Create", "Question", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormQ", role = "form" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary("", new { @class = "text-danger center" })

    <div class="form-group">
        @Html.Label("Title:")
        @Html.TextBox("ttitle", null, new { @class = "form-control", @name = "title", @maxlength = "20", required = "required" })
    </div>

    <div class="form-group">
        <label for="text">Question Text:</label>
        <textarea class="form-control" rows="5" id="text" maxlength="200" name="text" required></textarea>
    </div>


            <div class="form-group">
                <label>Upload Image</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse… <input type="file" id="imgInp" name="file">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <img id='img-upload' />
            </div>


    var incrementor = 64;


    for (var i = 0; i < ViewBag.k; i++)
    {
        incrementor++;
        var incrementorA = (char)incrementor;
                    <div class="input-group">
                        <span class="input-group-addon">@incrementorA.)</span>
                        <input id="msg" type="text" class="form-control" name="answer @i" placeholder="Additional Info" maxlength="100" required>
                        &nbsp
                        <label class=".radio-inline"><input type="radio" checked name="radio202" value="@i">Select Correct Answer</label>
                    </div>
    }
    <div class="form-group"></div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" id="beck"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp Back</button>
        <button type="submit" class="btn btn-primary" id="butt1"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp Save</button>
        <label class="checkbox-inline"><input id="lock" type="checkbox" value="zero" name="locked">Select to Lock File</label>
    </div>
    if (ViewBag.err!=null) {
            <label>@ViewBag.err</label>
    }

}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#beck').on('click', function clckF() {
            window.location = "@Url.Action("Index", "Question")";
        })

        $('#lock').on('click', function lock() {
            var locker = document.getElementById('lock');
            if (locker.checked === true) {
                locker.value = 'one';
            } else {
                locker.value = 'zero';
            }
        })


        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    });
</script>