﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Studioneer", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    @if (@HttpContext.Current.Session["type"] != null)
                    {                        
                        if (@HttpContext.Current.Session["type"].ToString() == "Administrator")
                        {
                            <li>@Html.ActionLink("Configuration", "Configuration", "Admin")</li>
                            <li>@Html.ActionLink("Approvals", "Approvals", "Admin")</li>
                        }
                        if (@HttpContext.Current.Session["type"].ToString() == "Professor")
                        {
                            <li>@Html.ActionLink("Questions", "Index", "Question")</li>
                            <li>@Html.ActionLink("Channels", "Index", "Channel")</li>
                        }
                        if (@HttpContext.Current.Session["type"].ToString() == "Student")
                        {
                            <li>@Html.ActionLink("New channels", "ActiveChannels", "Channel")</li>
                            <li>@Html.ActionLink("Subs", "Subscribed", "Channel")</li>
                            <li>@Html.ActionLink("Board", "Blackboard", "Publish")</li>
                            <li>@Html.ActionLink("Answers", "Answers", "Question")</li>
                        }
                        if ((@HttpContext.Current.Session["type"].ToString() == "Student") || @HttpContext.Current.Session["type"].ToString() == "Professor")
                        {                      
                            <li>@Html.ActionLink("Shop", "Index", "Order")</li>
                            <li>@Html.ActionLink("Orders", "Orders", "Order")</li>
                            <li>@Html.ActionLink("Info", "Info", "Account")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial");
            </div>
        </div>
    </div>
    <div class="container body-content">

        @if (@HttpContext.Current.Session["type"] != null)
        {
            if ((@HttpContext.Current.Session["type"].ToString() == "Student") || @HttpContext.Current.Session["type"].ToString() == "Professor")
            {
                <h3 class="pull-right">@HttpContext.Current.Session["username"].ToString(), <span id="numtoken">@HttpContext.Current.Session["token"].ToString()</span> tokens.</h3>
            }
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Studioneer</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
