﻿@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form id="FormaLogin">
                @Html.AntiForgeryToken()                
                <div class="form-group"></div>
                <div class="form-group">
                    @Html.Label("Email:")
                    @Html.TextBox("email", null, new { @class = "form-control", @name = "email", @type = "email" })
                </div>

                <div class="form-group">
                    @Html.Label("Password:")
                    @Html.TextBox("password", null, new { @class = "form-control", @type = "password", @name = "password" })
                </div>

                <div class="form-group">
                    <input type="button" value="Log in" class="btn btn-default" id="butt1" />
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { id = "result" })
                </div>
            </form>
        </section>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FormaLogin").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                email: {
                    required: "We need your email address to contact you",
                    email: "Your email address must be in the format of name@domain.com"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 6 characters long"
                }
            }
        });
        $("#butt1").click(function () {
            if (!$("#FormaLogin").valid())
                return;
            var Email = $('#email').val();
            var Password = $('#password').val();
            $.ajax({
                type: "POST",
                data: { email: Email, password: Password },
                url: '@Url.Action("Login","Account")',
                success: function (result) {
                    $('#result').html(result);
                    if (new String("Success").valueOf() == new String(result).valueOf()) {
                        window.location = "@Url.Action("Login", "Home")";
                    }
                }
            });
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}