﻿@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<hr />
<form id="Forma">
    <div class="form-group"></div>
    <div class="form-group">
        @Html.Label("Email:")
        @Html.TextBox("email", null, new { @class = "form-control", @name = "email", @type = "email" })
    </div>
    <div class="form-group">
        @Html.Label("Name:")
        @Html.TextBox("name", null, new { @class = "form-control", @name = "name" })
    </div>
    <div class="form-group">
        @Html.Label("Lastname:")
        @Html.TextBox("lastname", null, new { @class = "form-control", @name = "lastname" })
    </div>
    <div class="form-group">
        @Html.Label("Password:")
        @Html.TextBox("password", null, new { @class = "form-control", @type = "password", @name = "password" })
    </div>
    <div class="form-group">
        @Html.Label("Confirm password:")
        @Html.TextBox("cpassword", null, new { @class = "form-control", @type = "password", @name = "cpassword" })
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-default" id="butt1" value="Register" />
    </div>
    <div class="form-group">
        @Html.Label(" ", new { id = "result" })
    </div>
</form>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Forma").validate({
            rules: {
                name: "required",
                lastname: "required",
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                },
                cpassword: {
                    required: true,
                    minlength: 6,
                    equalTo: '#password'
                }
            },
            messages: {
                name: "Please specify your name",
                lastname: "Please specify your lastname",
                email: {
                    required: "We need your email address to contact you",
                    email: "Your email address must be in the format of name@domain.com"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 6 characters long"
                },
                cpassword: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 6 characters long",
                    equalTo: "Password does not match!"
                },
            }
        });
        $("#butt1").click(function () {
            if (!$("#Forma").valid())
                return;
            var Email = $('#email').val();
            var Name = $('#name').val();
            var Lastname = $('#lastname').val();
            var Password = $('#password').val();
            var Cpassword = $('#cpassword').val();
            $.ajax({
                type: "POST",
                data: {email: Email, name: Name, lastname: Lastname, password: Password, cpassword: Cpassword},
                url: '@Url.Action("Register","Account")',
                success: function (result) {
                    $('#result').html(result);
                    if (new String("Created").valueOf() == new String(result).valueOf()) {
                        window.location = "@Url.Action("Login", "Account")";
                    }
                }
            });
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
